@use 'sass:color';
@use 'base/variables' as v;
@use 'base/mixins' as m;



.alerta {
    padding: calc(v.$separacion / 8);
    color: v.$blanco;
    width: 100%;
    display: block;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: v.$bold;

    &.error {
        background-color: v.$rojo;
    }
    &.exito{
        background-color: v.$verde;
    }
}
.no-citas {
    text-align: center;
    text-transform: uppercase;
    color: v.$azul;
    font-size: 3rem;
    font-weight: v.$bold;
    padding: 1rem;
    border-radius: 0.5rem;
}